<div class="layout-container">
  <!-- ========== SIDEBAR ========== -->
  <aside class="sidebar" [class.sidebar--collapsed]="sidebarCollapsed">

    <!-- Mobile Backdrop -->
    <!-- <div
      class="sidebar-backdrop"
      *ngIf="isMobile"
      (click)="toggleSidebarMobile()"
    ></div> -->

    <!-- Logo Header -->
     <div class="sidebar__header">
      <div class="sidebar__logo">
        <img src="/logo.png" alt="Gopay Logo" class="sidebar__logo-img" />
      </div>
    </div>


    <!-- Sidebar Body -->
    <div class="sidebar__body">
      <!-- User Profile Card -->
      <div class="sidebar__profile">
        <div class="sidebar__avatar">{{ userInfo.initials }}</div>
        <div class="sidebar__user-info" *ngIf="!sidebarCollapsed">
          <div class="sidebar__user-name">{{ userInfo.name }}</div>
          <div class="sidebar__user-email">{{ userInfo.email }}</div>
        </div>
      </div>

      <!-- Navigation Menu -->
      <nav class="sidebar__nav">
        <ul class="sidebar-menu">
          <!-- Main Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Main</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/dashboard')"
                  (click)="navigate('/dashboard/home')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-home menu-icon" style="color: rgb(131, 4, 4)"></i>
                    <span class="menu-text">Dashboard</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>

          <!-- Transactions Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Transactions</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/transactions')"
                  (click)="navigate('/transactions/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-list menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text"> All Transactions</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/deposits')"
                  (click)="navigate('/deposits/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-arrow-down menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text"> Deposits </span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/withdrawals')"
                  (click)="navigate('/withdrawals/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-arrow-up menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text"> Withdrawals </span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/transfer-payment')"
                  (click)="navigate('/transfer-payment/1')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-send menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text"> Initiate Transfer</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>

          <!-- Parcels Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Parcels</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/parcels')"
                  (click)="navigate('/parcels/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-box menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text">All Parcels</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/parcel-managers')"
                  (click)="navigate('/parcel-managers')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-users menu-icon" style="color: rgb(116, 4, 4)"></i>
                    <span class="menu-text">Parcel managers</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/parcel-offices')"
                  (click)="navigate('/parcel-offices/parcel-source')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-building menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">Parcel Offices</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>

          <!-- Vehicles and Operations Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Vehicles and Operations</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/vehicles')"
                  (click)="navigate('/vehicles/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-car menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text">Vehicles</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/drivers')"
                  (click)="navigate('/drivers/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-user menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text">Drivers</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/driver-assignments')"
                  (click)="navigate('/driver-assignments/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-map menu-icon" style="color: rgb(125, 3, 3)"></i>
                    <span class="menu-text">Driver Assignment</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>

          <li class="menu-item">
            <button
              class="menu-link"
              [class.menu-link--active]="isRouteActive('/locations')"
              (click)="navigate('/locations/stages')"
            >
              <span class="menu-link-content">
                <i class="pi pi-map-marker menu-icon" style="color: rgb(134, 5, 5)"></i>
                <span class="menu-text">Locations</span>
              </span>
            </button>
          </li>

          <!-- Finance Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Finance</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/wallet')"
                  (click)="navigate('/wallet/organization')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-wallet menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">Wallets</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/management-statements')"
                  (click)="navigate('/management-statements')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-file menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">Withdrawal Statements</span>
                  </span>
                </button>
              </li>

              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/obligations')"
                  (click)="navigate('/obligations')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-briefcase menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">Obligations</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>

          <!-- User Management Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">User Management</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/users')"
                  (click)="navigate('/users/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-users menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">Users</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>


           <!-- Audits Category -->
          <li>
            <div class="menu-category" *ngIf="!sidebarCollapsed">Audits</div>
            <ul class="menu-items">
              <li class="menu-item">
                <button
                  class="menu-link"
                  [class.menu-link--active]="isRouteActive('/audits')"
                  (click)="navigate('/audits/all')"
                >
                  <span class="menu-link-content">
                    <i class="pi pi-users menu-icon" style="color: rgb(134, 5, 5)"></i>
                    <span class="menu-text">All Audits</span>
                  </span>
                </button>
              </li>
            </ul>
          </li>


        </ul>
      </nav>
    </div>

    <!-- Sidebar Footer -->
    <div class="sidebar__footer">
      <button class="sidebar__logout-btn" (click)="logout()">
        <i class="pi pi-sign-out" style="color: rgb(125, 3, 3)"></i>
        <span *ngIf="!sidebarCollapsed">Logout</span>
      </button>
    </div>
  </aside>

  <!-- ========== MAIN CONTENT ========== -->
  <!-- ========== MAIN CONTENT ========== -->
<main class="main-content">
  <!-- Top Navigation Bar -->
  <header class="topbar">
    <div class="topbar__left">
      <button class="topbar__toggle" (click)="toggleSidebar()">
        <i class="pi pi-bars"></i>
      </button>
    </div>

    <div class="topbar__right">
      <!-- 🔔 Notifications -->
      <button
        class="topbar__icon-btn"
        (click)="showNotifications()"
      >
        <i class="pi pi-bell"></i>
        <span class="topbar__badge">{{ unreadCount }}</span>
      </button>

      <!-- Notifications Dialog -->
      <p-dialog
        header="Notifications"
        [(visible)]="notificationDialogVisible"
        [style]="{ width: '400px', backgroundColor: '#fff' }"
        [modal]="true"
        [closable]="true"
        [dismissableMask]="true"
        [styleClass]="'notification-dialog'"
        [baseZIndex]="10000"
        (onHide)="hideNotifications()"
      >
        <div class="notification-panel">
          <div
            class="notification-item"
            *ngFor="let n of notifications"
            [class.unread]="!n.read"
          >
            <div class="notification-title">{{ n.title }}</div>
            <div class="notification-message">{{ n.message }}</div>
            <div class="notification-time">{{ n.time }}</div>
          </div>

          <div class="notification-footer">
            <button
              pButton
              label="View All"
              class="p-button-text"
            ></button>
          </div>
        </div>
      </p-dialog>



      <!-- ⚙️ Settings -->
      <button
        class="topbar__icon-btn"
        (click)="showSettings()"
      >
        <i class="pi pi-cog"></i>
      </button>

     <!-- Settings Dialog -->
    <p-dialog
      header="Settings"
      [(visible)]="settingsDialogVisible"
      [style]="{ width: '320px', backgroundColor: '#fff' }"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [styleClass]="'settings-dialog'"
      [baseZIndex]="10000"
    >
      <div class="settings-panel">
        <div class="settings-item">
          <span>Dark Mode</span>
          <p-toggleSwitch [(ngModel)]="darkModeEnabled"></p-toggleSwitch>
        </div>

        <div class="settings-item">
          <span>Email Notifications</span>
          <p-toggleSwitch [(ngModel)]="emailNotificationsEnabled"></p-toggleSwitch>
        </div>

        <div class="settings-item">
          <span>Auto Logout</span>
          <p-toggleSwitch [(ngModel)]="autoLogoutEnabled"></p-toggleSwitch>
        </div>

        <button
          pButton
          label="Account Settings"
          icon="pi pi-user"
          class="p-button-text"
        ></button>
      </div>
    </p-dialog>
    </div>
  </header>


    <!-- ========== HORIZONTAL TAB NAVIGATION ========== -->
    <nav class="tab-nav" *ngIf="showTabs">
      <div class="tab-nav__group">
        <button
          *ngFor="let tab of currentTabs; let i = index"
          class="tab-nav__item"
          [class.tab-nav__item--active]="activeTabIndex === i"
          (click)="onTabChange(i)"
        >
          <i [class]="tab.icon" class="tab-nav__icon"></i>
          <span class="tab-nav__label">{{ tab.label }}</span>
        </button>
      </div>
    </nav>

    <!-- Page Content Area -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
