{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 120
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "printWidth": 100
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "printWidth": 100
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    }
  ]
}
