<p-toast />

<p-dialog [(visible)]="visible" [modal]="true" [closable]="true" [dismissableMask]="true" [draggable]="false"
  [resizable]="false" styleClass="va-modal" [style]="{ width: '95vw', maxWidth: '1200px' }" (onHide)="onDialogHide()">

  <ng-template pTemplate="header">
    <div class="modal-header">
      <div class="modal-title-row">
        <div class="vehicle-avatar"><i class="pi pi-car"></i></div>
        <div class="modal-title-info">
          <h2 class="modal-title">Vehicle Analysis</h2>
          <span class="modal-subtitle" *ngIf="vehicle">
            {{ vehicle.fleetNumber }} <span class="sep">·</span> {{ vehicle.registrationNumber }}
          </span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="modal-body" *ngIf="vehicle">
    <p-tabs [value]="activeTabValue" (valueChange)="onTabChange($event)">

      <div class="analysis-control-header">
        <p-tablist class="grow">
          <p-tab value="day"><i class="pi pi-sun"></i> Day</p-tab>
          <p-tab value="week"><i class="pi pi-calendar"></i> Week</p-tab>
          <p-tab value="month"><i class="pi pi-chart-bar"></i> Month</p-tab>
          <p-tab value="year"><i class="pi pi-chart-line"></i> Year</p-tab>
        </p-tablist>

        <div class="header-actions">

          <div class="va-header-right flex align-items-center gap-3">

            <ng-container *ngIf="activeTabValue === 'day'">
              <div class="filter-item-gradient filter-item">
                <label class="filter-label">Date</label>
                <mat-form-field appearance="outline" class="date-range-field">
                  <input matInput [matDatepicker]="dayPicker" [(ngModel)]="dayDate" placeholder="Pick a date" />
                  <mat-datepicker-toggle matSuffix [for]="dayPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dayPicker></mat-datepicker>
                </mat-form-field>
              </div>
            </ng-container>

            <ng-container *ngIf="activeTabValue === 'week'">
              <div class="filter-item-gradient filter-item">
                <label class="filter-label">Week Range</label>
                <mat-form-field appearance="outline" class="date-range-field">
                  <mat-date-range-input [rangePicker]="weekRangePicker">
                    <input matStartDate placeholder="Start date" [(ngModel)]="weekStartDate"
                      (dateChange)="onWeekStartChange()" />
                    <input matEndDate placeholder="End date" [(ngModel)]="weekEndDate" [readonly]="true" />
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="weekRangePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #weekRangePicker></mat-date-range-picker>
                </mat-form-field>
              </div>
            </ng-container>

            <ng-container *ngIf="activeTabValue === 'month'">
              <div class="filter-item-gradient filter-item">
                <label class="filter-label">Month &amp; Year</label>
                <div class="header-date-row">
                  <mat-form-field appearance="outline" class="date-select-field">
                    <mat-select [(ngModel)]="monthMonth" placeholder="Month">
                      <mat-option *ngFor="let m of months" [value]="m.value">{{ m.label }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="date-select-field">
                    <mat-select [(ngModel)]="monthYear" placeholder="Year">
                      <mat-option *ngFor="let y of years" [value]="y.value">{{ y.label }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="activeTabValue === 'year'">
              <div class="filter-item-gradient filter-item">
                <label class="filter-label">Year</label>
                <mat-form-field appearance="outline" class="date-select-field">
                  <mat-select [(ngModel)]="yearYear" placeholder="Select year">
                    <mat-option *ngFor="let y of years" [value]="y.value">{{ y.label }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <p-tabpanels>
        <p-tabpanel value="day">
          <app-vehicle-analysis-panel [data]="results['day']" [loading]="loading && activeTabValue === 'day'" />
        </p-tabpanel>
        <p-tabpanel value="week">
          <app-vehicle-analysis-panel [data]="results['week']" [loading]="loading && activeTabValue === 'week'" />
        </p-tabpanel>
        <p-tabpanel value="month">
          <app-vehicle-analysis-panel [data]="results['month']" [loading]="loading && activeTabValue === 'month'" />
        </p-tabpanel>
        <p-tabpanel value="year">
          <app-vehicle-analysis-panel [data]="results['year']" [loading]="loading && activeTabValue === 'year'" />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>

  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-bolt" label="Analyse" class="modal-run-btn" [disabled]="loading"
      (click)="runAnalysis(activeTabValue)">
    </button>
  </ng-template>
</p-dialog>